<html>
<head>
<title></title>
<style>
h2
{
text-align:left;
color:white;
background-color:blue;
}
#h1
{
text-align:center;
color:red;
}
body
{
background-color:yellow;
}
p
{
border-style:solid;
}
</style>
</head>
<body>
<h1 align="center">My Biodata</h1>
<h2>Personal Details</h2>
<h1 id="h1">Name:Reshma Mohanan</h1>
<h2>Educational Details</h2>
<ul>
<li>SSLC</li>
<li>HSE</li>
<li>Bsc Computer Science</li>
<li>Master of Computer Applications</li>
</ul>
<h2>Hobbies</h2>
<ul>
<li>Music</li>
<li>Reading</li>
<li>Coding</li>
<li>Watching Movies</li>
</ul>
<h2>Contact Details</h2>
<p>
Email id: reshma123@gmail.com<br>
Mobile Number : +91 9876543210
</p>
</body>
</html>
